
.skills-section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 60px 20px;
    background-color: white;
    z-index: 1;
}

.title {
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: var(--main-color);
    font-size: 34px;
    font-family: "JetBrains Mono", monospace;
    position: relative;
}

.title::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: var(--second-color);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}

.skills-conatiner {
    min-width: auto;
    height: auto;
    margin: 0 auto;
}

.skills-unvisible {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.skills-unvisible.visible {
    opacity: 1;
    transform: translateY(0);
}

.btn-container {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-container div {
    display: inline-block;
    width: auto;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    background-color: #ffffff;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    cursor: pointer;
    opacity: 0.5;
}

.btn-container div svg {
    margin-left: 4px;
}

.btn-container .active {
    background-color: var(--main-color);
    color: #ffffff;
    opacity: 1;
}



/* SKILLS CARDS */

.skills-block {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;
    justify-content: center;
    padding: 32px 20px 10px 20px;
    animation: showSkillCards 1.8s ease;
}

@keyframes showSkillCards {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

.skill-card {
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 2px solid rgb(228, 225, 225);
    padding: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: 0.4s ease-in-out;
}

.skill-card:hover {
    border: 2px solid #909499;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}

.skill {
    margin: 0;
    font-size: 20px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 600;
    color: var(--main-color);
}

.description {
    margin: 0;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    /* text-align: justify; */
    font-size: 15px;
    color: var(--main-color);
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    opacity: 0.8;
}

.skill-image {
    position: absolute;
    top: 15px;
    right: 15px;
    width: auto;
    height: 40px;
    opacity: 0.8;
}

.left-image,
.right-image {
    position: absolute;
    z-index: -1;
}

.left-image {
    position: absolute;
    bottom: 14%;
    left: 60px;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}

.right-image {
    position: absolute;
    top: 150px;
    right: 60px;
    width: 400px;
    animation: levitation 3s ease-in-out infinite;
}

@keyframes levitation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}


/* ADAPTATION */

@media (max-width: 1500px) {
    .left-image {
        left: 20px;
        width: 300px;
    }

    .right-image {
        right: 20px;
        width: 300px;
    }
}

@media (max-width: 1260px) {
    .left-image {
        display: none;
    }

    .right-image {
        display: none;
    }
}

@media (max-width: 1000px) {

    .skills-section {
        padding-top: 48px;
    }

    .skills-conatiner {
        min-width: auto;
    }

    .btn-container {
        margin-top: 48px;
    }
}  


@media (max-width: 768px) {

    .title {
        font-size: 28px;
    }

    .skills-block {
        grid-template-columns: 220px 220px;
    }

    .btn-container {
        margin-top: 32px;
    }

    .btn-container div {
        font-size: 15px;
    }

    .btn-container div svg {
        height: 15px;
        width: auto;
    }
}


@media (max-width: 480px) {
    .title {
        font-size: 24px;
    }

    .skills-block {
        grid-template-columns: minmax(180px, 200px) minmax(180px, 200px);
        gap: 10px;
    }

    .skill-image {
        height: 35px;
    }

    .skill {
        font-size: 18px;
    }

    .skill-card {
        height: 200px;
    }

    /* .btn-container div {
        padding: 10px 15px;
    } */

    .btn-container div svg {
        display: none;
    }

    .description {
        font-size: 14px;
    }
}