

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    color: var(--main-color);;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    padding: 0 20px;
}

.left-content {
    font-size: 26px;
    font-weight: 400;
    cursor: default;
    font-family: "Comfortaa", sans-serif;
}

.left-content span {
    color: var(--second-color);
}

.nav-list {
    display: flex;
    gap: 40px;
    font-family: "Barlow", sans-serif;
}

.nav-item {
    text-decoration: none;
    line-height: 80px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.nav-item:hover {
    color: var(--second-color);
}

.menu-button {
    display: none;
    background: none;
    border: none;
    color: var(--main-color);
    cursor: pointer;
}

.menu-mark {
    width: 20px;
    height: 20px;
}

.close-mark {
    width: 25px;
    height: 25px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1000px) {
    .header-content {
        min-width: auto;
    }

    .left-content {
        font-size: 22px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        background-color: white;
        border-top: 2px solid rgb(240, 237, 237);
        position: absolute;
        top: 79px;
        left: 0;
        width: 100%;
        text-align: center;
        gap: 0px;
        padding-bottom: 20px;
        animation: slideIn 0.5s ease forwards;
    }

    .nav-item {
        line-height: 20px;
        padding: 15px 0;
    }

    .nav-list-open {
        display: flex;
    }

    .menu-button {
        display: block;
    }
}