
.feedbacks-section {
    width: 100%;
    height: auto;
    padding: 0 20px;
    background-color: var(--main-color);
}

.slider-block {
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    height: auto;
    margin: 0 auto;
}

.title {
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    font-size: 34px;
    font-family: "JetBrains Mono", monospace;
    position: relative;
}

.title::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: var(--second-color);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}

.slider-container {
    width: 100%;
    min-width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 50px 20px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.slide img {
    width: auto;
    height: 40px;
    margin: 0 auto;
}

.teacher {
    margin: 10px 0;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.feedback {
    margin: 0;
    text-align: center;
    color: #ebe8e8;
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    line-height: 1.5;
}